<div id="cookie-popup" class="cookie-popup">
    <button class="popup-close-button" aria-label="close button">
        <svg class="popup-svg" width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 15.7031L15 1.70312" stroke="#161616" stroke-width="1.8" stroke-linecap="round"
                    stroke-linejoin="round" />
                <path d="M15 15.7031L1 1.70312" stroke="#161616" stroke-width="1.8" stroke-linecap="round"
                    stroke-linejoin="round" />
        </svg>

    </button>
    <p class="cookie-class">Our website use cookies. By continuing <span class="popup-span">navigating</span>, we assume your permission to deploy cookies as detailed in our Privacy Policy.</p>
    <div class="cookie-buttons">
        <button id="decline-cookies" class="btn-decline">Decline</button>
        <button id="accept-cookies" class="btn-accept">Accept cookies</button>

    </div>
</div>