<header class="header" id="site-header">
    <div class="header-container container">
        <button type="button" class="menu-button" aria-label="menu toggle">
            <span class="icon">
                <svg class="header-svg" width="28" height="28">
                    <use href="/img/sprite.svg#icon-burger"></use>
                </svg>
            </span>
        </button>

        <nav class="nav ">
            <ul class="navigation-list">
                <li class="navigation-item">
                    <a class="links" href="index.html#Realm">Lantern Realm</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="index.html#Carnival">Carnival Between Worlds</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="index.html#Feature">Feature Taproom</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="index.html#Gameplay">Atmosphere Gameplay</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="index.html#Free">Free the Magic</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="index.html#Master">Master the Master</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="index.html#Play">Play Anywhere</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="index.html#Order">The Order Grows</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- Mobile menu -->
<div id="modalWindow" class="modal">
    <ul class="menu-list">
        <li><a class="menu-list-item" href="index.html#Realm">Lantern Realm</a></li>
        <li><a class="menu-list-item" href="index.html#Carnival">Carnival Between Worlds</a></li>
        <li>
            <a class="menu-list-item" href="index.html#Feature">Feature Taproom</a>
        </li>
        <li><a class="menu-list-item" href="index.html#Gameplay">Atmosphere Gameplay</a></li>
        <li><a class="menu-list-item" href="index.html#Free">Free the Magic</a></li>
        <li><a class="menu-list-item" href="index.html#Master">Master the Master</a></li>
        <li><a class="menu-list-item" href="index.html#Play">Play Anywhere</a></li>
        <li><a class="menu-list-item" href="index.html#Order">The Order Grows</a></li>
    </ul>
    <ul class="policy-list">
        <li class="policy-item">
            <a class="menu-list-item list-condition" href="Terms and Conditions.html">Terms and conditions</a>
        </li>
        <li class="policy-item">
            <a class="menu-list-item list-condition" href="Privacy Policy.html">Privacy Policy</a>
        </li>
        <li class="policy-item">
            <a class="menu-list-item list-condition" href="Cookies Policy.html">Cookies Policy</a>
        </li>
    </ul>
    </div>