<!-- Hero -->
 <section class="hero-section">
    <div class="container">
        <h1 class="visually-hidden">Pumpkin Master</h1>
        <picture>
            <source srcset="
            /img/hero/logo-desk.png  1x,
            /img/hero/logo-desk@2x.png 2x
                         " media="(min-width: 1439px)" />
            <source srcset="
            /img/hero/logo-mob.png 1x,
            /img/hero/logo-mob@2x.png 2x
                         " media="(max-width: 1438px)" />
            <img class="hero-logo" src="/img/hero/logo-mob.png" alt="Logo" loading="lazy" />
        </picture>
        <h2 class="hero-subtitle">Where Magic Flickers, and Fortune Awakens.</h2>
<p class="hero-text">Welcome to a place where night never ends and pumpkins never die. Pumpkin Master is your entry into a forgotten festival
of mischief and mystery, where every spin might summon symbols of riches—or shadows. You don’t play this game...<br class="desk"/> it
plays you.</p>
<a class="hero-button" href="index.html#Free">
        <img class="hero-img-button" src="/img/hero/hero-btn.png"
            srcset="/img/hero/hero-btn.png 1x, /img/hero/hero-btn@2x.png 2x" alt="Button" loading="lazy" />
</a>
    </div>
 </section>
 <!-- Not All Spinning Wheels Belong to Fortune Tellers -->
  <section class="fortune-section">
    <div class="container">
        <h2 class="fortune-title">Not All Spinning Wheels Belong to Fortune Tellers</h2>
        <div class="fortune-wrapper">
            <p>Long ago, under a crimson moon, a secret celebration began deep in the woods. The Pumpkin Master—half trickster, half
            gatekeeper—appeared, offering gold to those brave enough to spin his haunted wheel.</p>
            <p>Now, you too are invited to the midnight carnival.<br/>The wheel is alive. The prizes are real. The risks? Gloriously
            unknown.</p>
            <p>This is Halloween without costumes. This is magic without rules. This is Pumpkin Master.</p>
        </div>
        <picture>
            <source srcset="
            /img/fortune/pic-desk.png  1x,
                    /img/fortune/pic-desk@2x.png 2x
                                 " media="(min-width: 1439px)" />
            <source srcset="
            /img/fortune/pic-mob.png 1x,
                    /img/fortune/pic-mob@2x.png 2x
                                 " media="(max-width: 1438px)" />
            <img class="fortune-img" src="/img/fortune/pic-mob.png" alt="Game" loading="lazy" />
        </picture>
    </div>
  </section>
  <!--What Powers the Ritual  -->
  <section class="ritual-section">
    <div class="container">
        <h2 class="ritual-title">What Powers the Ritual</h2>
        <p class="ritual-first-text">Every element of Pumpkin Master carries a story, and every feature carries a twist.</p>
        <h3 class="ritual-subtitle">Core Features:</h3>
        <p class="ritual-second-text">Each mechanic is designed to unsettle, reward, and surprise—even after hundreds of spins.</p>
        <ul class="ritual-list">
            <li class="ritual-item">
            <img class="ritual-img" src="/img/ritual/one.png"
                srcset="/img/ritual/one.png 1x, /img/ritual/one@2x.png 2x" alt="Bat" loading="lazy"/>
                <p class="first-ritual-text">Jack-o’-Wilds: </p>
                <p class="second-ritual-text">Glowing pumpkins substitute with spectral flare, multiplying your line wins in eerie silence.</p>
            </li>
            <li class="ritual-item">
                <img class="ritual-img" src="/img/ritual/two.png" srcset="/img/ritual/two.png 1x, /img/ritual/two@2x.png 2x"
                    alt="Bat" loading="lazy" />
                <p class="first-ritual-text">Phantom Re-Spin:</p>
                <p class="second-ritual-text">When the ghosts rise, the reels re-spin without cost—but with cursed volatility.</p>
                </li>
                <li class="ritual-item">

                    <img class="ritual-img" src="/img/ritual/three.png" srcset="/img/ritual/three.png 1x, /img/ritual/three@2x.png 2x"
                        alt="Bat" loading="lazy" />
                    <p class="first-ritual-text">Lantern Bonus:</p>
                    <p class="second-ritual-text">Collect glowing lanterns to unlock a special wheel surrounded by whispering trees and golden vines.</p>
                    </li>
                    <li class="ritual-item">

                        <img class="ritual-img" src="/img/ritual/four.png" srcset="/img/ritual/four.png 1x, /img/ritual/four@2x.png 2x"
                            alt="Bat" loading="lazy" />
                        <p class="first-ritual-text">Witch’s Pattern:</p>
                        <p class="second-ritual-text">Random overlays cast by a hidden witch alter symbols into their highest-paying forms.</p>
                        </li>
        </ul>
    </div>
  </section>
  <!-- Art That Breathes, Sound That Lurks -->
   <article class="sound-section">
    <div class="container">
        <h2 class="souns-title">Art That Breathes, Sound That Lurks</h2>
        <div class="sound-container">
            <p>This isn’t just a spooky background. The forest is alive. The pumpkins blink. The wind howls in stereo.</p>
            <p>Pumpkin Master is a masterclass in atmospheric game design—fusing responsive animations, soft particle trails, layered
            fog, and reactive ambient sounds that change depending on your wins.</p>
            <p>It’s not just what you see—it’s what you feel behind your screen.</p>
        </div>
    </div>
   </article>